* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(230, 218, 218);
}

header {
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  height: 50px;
  align-items: center;
}

.menu-container {
  position: relative;
}

.menu-list {
  background-color: white;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  border-radius: 10px;
  position: absolute;
  right: 0;
  top: 50px;
  visibility: hidden;
  pointer-events: none;
}

.visual-control.visible {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
}

.menu-toggle {
  position: relative;
  z-index: 1000;
  cursor: pointer;
}

.menu-list .menu {
  border-bottom: 1px solid grey;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  color: rgb(34, 33, 33);
}

.menu-list.visible {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
}

/* .menu-container:hover .menu-list {
  visibility: visible;
  pointer-events: all;
} */
